@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    color: white;
    overflow: hidden;
}

.lower-third {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3em;
    width: 100%;
    height: 3em;
    background: rgba(0, 0, 255, 0.5);
}

.lower-third div {
    /* border: 3px solid red; */
    height: 100%;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
}
